body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: #1c1c1cff;
}

html {
  font-family: Helvetica;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.component-logo {
  height: 5rem; 
width: 253px;
}

.container-landing {
  display: flex;
  overflow: hidden;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  width: 100%;
  height: 611px;
}

.landing-search {
  display: flex; 
padding-right: 0.25rem; 
padding-left: 1rem; 
flex-direction: row; 
justify-content: space-between; 
align-items: center; 
align-self: stretch; 
background-color: #ffffff; 
}


.component-search-input {
  padding-top: 0.25rem;
padding-bottom: 0.25rem; 
padding-left: 0.75rem;
padding-right: 0.75rem; 
flex-grow: 1; 
border-radius: 0.25rem; 
border-width: 1px; 
border-style: none; 
outline-style: none; 
font-family: 'Helvetica';

}